<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>WELCOME TO RELATIVE URL TEMPLATES!</h1>
    <!--URL TEMPLATE TAGGING-->
    <a href="{% url 'basic_app:other' %}">LINK TO OTHER PAGE</a>
    <a href="{% url 'admin:index' %}">LINK TO ADMIN PAGE</a>
    <a href="{% url 'index' %}">LINK TO INDEX PAGE</a>
    <a href="{% url 'basic_app:mother' %}">LINK TO MOTHER PAGE</a>


</body>
</html>